.rp_careers-grid {
  @include container;
  @include respond((
    margin-top: 76px 96px 136px 134px 177px,
  ));

  &__content {
    @include content;
  }


  &__heading {
    @include font(medium);
    @include type(lg);
    color: $black;
  }


  &__subheading {
    @include font(medium);
    @include type(sm);
    @include respond((
      margin-top: 30px 20px 30px,
    ));
    color: $black;
  }


  &__list {
    @include respond((
      margin-top: 30px 40px 60px,
      display: flex,
      flex-flow: 'row wrap',
      justify-content: flex-start,
    ));
  }


  &__item {
    @include respond((
      width: 100% span(2 of 4 at sm) span(2 of 4 at md) span(5 of 10 at lg) span(4 of 10 at xl),
    ));

    &:nth-child(odd) {
      @include respond((
        margin-right: null gutter(sm) gutter(md) gutter(lg) span(1 of 10 at xl wider),
      ));
    }

    &:not(:first-child) {
      @include respond((
        margin-top: 30px 0,
      ));
    }

    &__title {
      @include font(medium);
      @include type(sm);
    }

    &__description {
      @include font(medium);
      @include type(sm);
      @include respond((
        margin-top: 5px 10px 10px,
      ));
    }

    &__meta {
      @include font(medium);
      @include type(xs);
      @include respond((
        margin-top: 15px 20px 30px,
      ));

      span {
        display: inline-block;
        color: $mid-gray;
      }
    }

    &__link {
      @include font(medium);
      @include type(xs);
      @include respond((
        margin-top: 15px 20px 30px,
      ));
      display: inline-block;
      text-decoration: underline;

      &:link,
      &:visited,
      &:active {
        color: $black;
      }
    }

  }
}
