.rp_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  @include respond((
    padding-top: 15px 30px,
    padding-left: 15px 20px 30px 30px 40px,
  ));


  &__brand {
    display: block;
    @include respond((
      width: 25px null 30px,
      height: 25px null 30px,
    ));

    svg {
      fill: $dark-gray;
      width: 100%;
      height: 100%;

      .rp_dark.rp_dark &,
      .rp_project-detail.rp_project-detail & {
        fill: $white;
      }

      .rp_ash & {
        fill: $gray;
      }
    }
  }
}
