.rp_image-2up {
  @include container;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 20px;
  margin-bottom: 20px;

  @include md {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @include xl {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__figure {
    display: block;
    margin: 10px -15px;
    width: auto;

    @include sm {
      width: span(3);
      margin: 0;
    }

    @include md {
      width: span(3);
    }

    @include lg {
      width: span(6);
    }

    @include xl {
      width: span(6);
    }

    img {
      display: block;
      margin: 0;
      width: 100%;
    }
  }
}
