.rp_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9999999;

  .rp_featured-projects--hidden & {
    transition: transform 1s .05s cubic-bezier(.17,.01,.15,.99);
    transform: translateY(-100%);
  }


  &__content {
    background-color: $black;
    height: 100%;
    overflow: auto;
  }
}
