.rp_projects-grid {
  @include container;
  margin-top: 60px;

  @include sm {
    margin-top: 80px;
  }

  @include md {
    margin-top: 120px;
  }


  &__list {
    @include sm {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: span(4);
      margin: auto;
    }

    @include md {
      width: span(4);
    }

    @include lg {
      width: span(10);
      justify-content: flex-start;
    }
  }


  &__card {
    position: relative;
    margin-top: 30px;

    &:not(:nth-child(n + 2)) {
      margin-top: 0;
    }

    @include sm {
      width: span(2 of 4);
      margin-top: 40px;

      &:not(:nth-child(n + 3)) {
        margin-top: 0;
      }

      &:hover .rp_projects-grid__card__title {
        text-decoration: underline;
      }
    }

    @include md {
      width: span(2 of 4);
      margin-top: 60px;

      &:not(:nth-child(n + 3)) {
        margin-top: 0;
      }

      &:hover .rp_projects-grid__card__image {
        opacity: 1;
      }
    }

    @include lg {
      width: span(3 of 10);
      margin-right: #{gutter()};

      &:not(:nth-child(n + 4)) {
        margin-top: 0;
      }
    }

    @include xl {
      width: span(3 of 10);
      margin-right: #{gutter()};
    }

    &__image {
      display: none;
      opacity: 0;
      pointer-events: none;

      @include md {
        display: block;
        position: absolute;
        z-index: 1;
        top: -60px;
        left: -#{gutter()};
        width: calc(100% + #{gutter() * 3});
        transition: opacity .3s;
      }

      @include lg {
        width: span(4 of 3 wider);
      }

      @include xl {
        width: 100%;
        left: -30px;
      }
    }

    &__contents {
      display: block;
      position: relative;
      z-index: 2;
      margin-top: 5px;

      @include md {
        margin-top: 10px;
      }

      @include lg {
        margin-top: 8px;
      }

      &:link,
      &:visited,
      &:active {
        color: inherit;
        text-decoration: none;
      }
    }

    &__title {
      @include font(medium);
      @include type(md);
      color: $white;
    }

    &__description {
      @include font(medium);
      @include type(xs);
      color: $mid-gray;
    }
  }
}
