.rp_text-hero {
  @include container;
  @include font(medium);
  margin-top: 60px;

  @include sm {
    margin-top: 80px;
  }

  @include md {
    margin-top: 120px;
  }

  &__content {
    @include content;

    @include lg {
      width: span(8);
      margin-left: span(1 wide);
    }

    @include xl {
      width: span(8);
      margin-left: span(1 wide);
    }
  }


  &__text {
    @include type-size(sm);

    @include sm {
      @include type-size(md);
    }

    @include md {
      @include type-size(md, large);
    }
  }
}
