{% if job_openings %}
<section class="rp_module rp_careers-grid">
	<div class="rp_careers-grid__content">
		
		<h2 class="rp_careers-grid__heading">Careers</h2>
		<p class="rp_careers-grid__subheading">Join us in creating brands people love.</p>
		
		<ul class="rp_careers-grid__list">
			{% for job in job_openings %}
				{# job_title: `Junior Designer`,
        job_description: `Responsible for generating conceptual and visual design solutions and have an understanding of branding and corporate identity`,
        deadline: `August 1, 2018`,
        linkedin_url: `http://www.google.com`, #}
			    <li class="rp_careers-grid__item">
			    	<h3 class="rp_careers-grid__item__title">{{job.job_title}}</h3>
			    	<p class="rp_careers-grid__item__description">{{job.job_description}}</p>
			    	<div class="rp_careers-grid__item__meta"><span>Application Deadline:</span> <span>{{job.deadline}}</span></div>
			    	<a href="{{job.linkedin_url}}" class="rp_careers-grid__item__link">View on LinkedIn</a>
			    </li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endif %}
