<section class="rp_module rp_location-tabs">
	<div class="rp_location-tabs__content">

		{% set map_id = value %}

		{% if locations %}
			<div class="rp_location-tabs__tabs">
				<ul class="rp_location-tabs__tabs-content">
					{% for location in locations %}
					    <li role="tab button" class="rp_location-tabs__tab {{loop.index0 == 0 ? 'active' : '' }}">{{location.location_name}}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="rp_location-tabs__panes">
				{% for location in locations %}

					<div class="rp_location-tabs__pane {{loop.index0 == 0 ? 'active' : '' }}">
						{# Banner #}
						{% if location.image %}
							<div class="rp_location-tabs__banner">
								<img src="{{location.image}}" alt="" class="rp_location-tabs__banner__image">
								<div class="rp_location-tabs__banner__text">
									<div class="rp_location-tabs__banner__text-content">
										<h2 class="rp_location-tabs__banner__heading">Studio</h2>
										<div class="rp_location-tabs__banner__contact">
											<h4>General</h4>
											<p>{{ location.contact_info.general|nl2br }}</p>
										</div>
										<div class="rp_location-tabs__banner__contact">
											<h4>Press</h4>
											<p>{{ location.contact_info.press|nl2br }}</p>
										</div>
									</div>
								</div>
							</div>
						{% endif %}

						{% if (location.contact_info is not empty) or (location.map_embed is not empty) %}
							{# Address #}
							<div class="rp_location-tabs__address">
								<div class="rp_location-tabs__address-content">
									<h2 class="rp_location-tabs__address__heading">Studio</h2>
									<div class="rp_location-tabs__address__body">
										{% if location.contact_info.general %}
											<div class="rp_location-tabs__address__contact rp_location-tabs__address__contact--general">
												<h4>General</h4>
												<p>{{ location.contact_info.general|nl2br }}</p>
											</div>
										{% endif %}
										{% if location.contact_info.press %}
											<div class="rp_location-tabs__address__contact rp_location-tabs__address__contact--press">
												<h4>Press</h4>
												<p>{{ location.contact_info.press|nl2br }}</p>
											</div>
										{% endif %}
										{% if location.contact_info.location %}
											<div class="rp_location-tabs__address__contact rp_location-tabs__address__contact--location">
												<h4>Location</h4>
												<p>{{ location.contact_info.location|nl2br }}</p>
											</div>
										{% endif %}
										{% if location.map_long and location.map_lat %}
											<div class="rp_location-tabs__address__map">
												<div class="js-rp_map"
													data-lat="{{location.map_lat}}"
													data-long="{{location.map_long}}"
													data-pin="{{location.map_pin}}">
												</div>
											</div>
										{% endif %}
									</div>

									{% if location.map_long and location.map_lat %}
										{# Due to design requirements, there should be a duplicate map for desktop #}
										<div class="rp_location-tabs__address__map rp_location-tabs__address__map--desktop">
											<div class="js-rp_map"
												data-lat="{{location.map_lat}}"
												data-long="{{location.map_long}}"
												data-pin="{{location.map_pin}}">
											</div>
										</div>
									{% endif %}

								</div>
							</div>
						{% endif %}
					</div>

				{% endfor %}
			</div>
		{% endif %}

	</div>
</section>
