<section class="rp_module rp_nav">
	<div class="rp_nav__content">
		<ul class="rp_nav__list">
			{% for item in nav %}
			    <li class="rp_nav__item"><a href="{{item.url}}">{{item.title}}</a></li>
			{% endfor %}
		</ul>
	</div>
</section>
