<div class="rp_dark rp_module rp_project-detail">

	{% include 'components/header.twig' with {logo_class: logo_class ~ ' rp_modal__close', title: project.title} only %}

	<div class="rp_project-detail__modules">
		{% for module in project.modules %}
		    {% include module.template with module.data only %}
		{% endfor %}
	</div>

</div>
