<section class="rp_module rp_text-breaker">
	<div class="rp_text-breaker__content">
		<quote class="rp_text-breaker__text">{{text}}</quote>
		{% if source %}
			<cite class="rp_text-breaker__source">- {{source}}</cite>
		{% endif %}
	</div>
	
</section>
