<svg class="{{classname}}" width="14px" height="9px" viewBox="0 0 14 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g transform="translate(-287.000000, -107.000000)">
        <g transform="translate(176.000000, 60.000000)">
            <polygon id="Rectangle-5" transform="translate(118.156854, 54.156854) rotate(-135.000000) translate(-118.156854, -54.156854) " points="120.656854 49.6568542 122.656854 49.6568542 122.656854 58.6568542 113.656854 58.6568542 113.656854 56.6568542 120.656854 56.6568542"></polygon>
        </g>
    </g>
</svg>
