$white: #FFF;
$black: #000;

// Primaries
$red: #F5594E;
$dark-gray: #0D0D0D;
$dark-grey: $dark-gray;

// Grays
$gray: #4C4C4C;
$grey: $gray;
$mid-gray: #777C7F;
$mid-grey: $mid-gray;
$light-gray: #E3E4E7;
$light-grey: $light-gray;
$xlight-gray: #F7F8FB;
$xlight-grey: $xlight-gray;

// Neutrals
$rose-ash: #C6BABA;

// Additional
$gray2: #171717;
$grey2: $gray2;
