@include register-grids((
  
  /*
   * Base
   * Container max-width: 290px
   */
  base: (
    columns: 2,
    gutters: 0, // or .25
  ),

  /**
   * Small Breakpoint
   * Container max-width: 600px
   */
  sm: (
    breakpoint: 640,
    columns: 6,
    gutters: 20px,
  ),

  /**
   * Medium Breakpoint
   * Container max-width: 740px
   */
  md: (
    breakpoint: 800,
    columns: 6,
    gutters: 30px,
  ),

  /**
   * Large Breakpoint
   * Container max-width: 964px
   */
  lg: (
    breakpoint: 1024,
    columns: 12,
    gutters: 30px,
  ),

  /**
   * Extra Large Breakpoint
   * Container max-width: 1600px
   */
  xl: (
    breakpoint: 1680,
    columns: 12,
    gutters: 40px,
  ),
  
));

