$typesets: (
  // 
	// Name   < 800        > 800
  //        fs lh        fs lh
	xs:       (14 20,      14 20),
  sm:       (16 24,      18 26),
  md:       (21 30,      24 34),
  lg:       (26 38,      32 44),
  xl:       (45 55,      50 65),
  xxl:      (60 75,      70 85),
);


/**
 * Helper mixin to automate size all across breakpoints
 * @return {[type]} [description]
 */
@mixin type($type: '') {

  @if map-has-key($typesets, $type) {
    @include type-size($type, small);

    @include md {
      @include type-size($type, large);
    }

  } @else {
    // No valid typeset matched
  }
  
}


@mixin type-size($type-name: xs, $type-size: small) {
  $settings: map-get($typesets, $type-name);
  $small-settings: nth($settings, 1);
  $large-settings: nth($settings, 2);

  @if $type-size == small {
    font-size: #{nth($small-settings, 1)}px;
    line-height: #{nth($small-settings, 2)}px;
  } @else if $type-size == large {
    font-size: #{nth($large-settings, 1)}px;
    line-height: #{nth($large-settings, 2)}px;
  } @else {
    // No given size
  }
}
