{% embed 'layouts/default.twig' with {
	title: title,
	description: description,
	body_class: dev ? 'dev' : '',
	hero_text: hero_text,
	locations: locations,
	job_openings: job_openings,
	team: team,
	google_map_api_key: google_map_api_key,
} only %}

	{% block content %}
		{% include 'components/text-hero.twig' with {text: hero_text} only %}
		{% include 'components/location-tabs.twig' with {locations: locations} only %}
		{% include 'components/team-list.twig' with {team: team} only %}
		{% include 'components/careers-grid.twig' with {job_openings: job_openings} only %}
	{% endblock %}

{% endembed %}
