{% embed 'layouts/default.twig' with {
	title: title,
	description: description,
	articles: articles,
	body_class: dev ? 'dev' : ''
} only %}

	{% block content %}

		{% include 'components/news-grid.twig' with { articles: articles } only %}

	{% endblock %}
{% endembed %}
