{# 
	Project Detail Component Preview Only
 #}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'partials/head.twig' with {
		title: title,
		description: description
	} only %}
</head>
<body class="rp_dark {{dev ? 'dev' : ''}}">
	{% include 'components/project-detail.twig' with data only %}
	{% include 'partials/footer.twig' %}
</body>
</html>
