<footer class="rp_footer">
	
</footer>

{% if google_map_api_key %}
	<script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}"></script>
{% endif %}
<script src="/scripts/app.js"></script>
